<h1>upload a photo!</h1>
<form action='/uploads' method='post' enctype='multipart/form-data'>
	<label for='myfile'>Select a file </label>
	<input type='file' id='myfile' name='myfile'>
	<input type='submit' value='submit'>
</form>